*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('e.jpg');
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 20px;
}

.regform{
    margin-top: 20px;
    width: 700px;
    background-color: rgb(0,0,0,6);
    margin: auto;
    color: aliceblue;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main{
    background-color: rgb(0,0,0,0.5);
    width: 00px;
    margin: auto;
}

.form{
    padding: 20px;
}

.name{
    margin-left: 30px;
    margin-top: 10px;
    width: 200px;
    color: aliceblue;
    font-size: 16px;

    font-weight: 700;
}

.fname{
    position: relative;
    left: 200px;
    top: -17px;
    line-height-step: 40px;
    border-radius: 7px;
    padding: 0 22px;
    font-size: 16px;
}

.add{
    position: relative;
    left: 200px;
    top: -17px;
    line-height-step: 40px;
    border-radius: 7px;
    padding: 0 22px;
    font-size: 16px;

}

button{
    background-color: white;
    width: 270px;
    height: 37px;
    background-color: rgba(0, 22, 0, 0.3);
    color: black;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 2px;
    transition-duration: 0.4s;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }
